*.hdf5
data/*
plots/*
jupyter_submit.sh
.ipynb_checkpoints
*.log
*/keras_weights/*
*/Datasets/*
*/figures/*
*/wandb/*
*/__pycache__/*
*/generations/*
*/midis/*
*.mid
.vscode/*
*.pt
__pycache__/
wandb/
*/model_checkpoints/*
*.jpg
